@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/* NAVIGATION */
#top-nav{
    background-color: #ffff;
    margin-top: 10px;
}
.nav-item {
    width: 150px;
}
nav{
    z-index: 1;
}
.blackText {
    color: black;
}

.nav-item {
    width: 150px;
}

.offcanvas-header {
    display: none;
}

@media (max-width: 992px) {
    .offcanvas-header *{
        z-index: 1000;
    }
    .offcanvas-header {
        z-index: 1000;
        display: block;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: rgb(250, 250, 250);
        transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }

    .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-40%);
    }
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  header {
      z-index: -100 !important;
    background-blend-mode: multiply;
    background-image: url("../image/noah-silliman-gzhyKEo_cbU-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 700px;
    padding-top: 25%;
    padding-bottom: 10%;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);

}
.fa-play{
    border: 1px solid #fff !important;
    border-radius: 100%;
    padding: 1rem;
    font-size: 2rem;
    margin-top: px;
}

#footer{
    background-color: rgb(5, 45, 63);
    clip-path: polygon(10% 0, 90% 0, 90% 10%, 100% 0, 100% 100%, 0 100%, 0 0, 10% 10%);
    min-height: 100px;
}
#footer-1{
    background-color: rgb(5, 45, 63);
    clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
    min-height: 100px;
}
.row-1{
    background-image: url("https://images.pexels.com/photos/1376201/pexels-photo-1376201.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    border-radius: 10px;
    background-size: cover;
    background-position: center center;
    box-shadow: #5e5b5b; 
    -webkit-box-shadow: 1px 1px 3px 4px  rgba(116, 112, 112, 0.212);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 3px 4px rgba(116, 112, 112, 0.185);  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 3px 4px  rgba(116, 112, 112, 0.226);
}
.row-2{
    padding-top: 3rem !important;
    font-size: 1rem;
}
#footer .w-75{
    width: 80% !important;
}
#footer .display-4{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
}
#footer .h1{
    font-size: 1.2rem;
    font-weight: 500;
}
#footer .fa{
    font-size: 1.5rem;
    color: #fff;
}
#footer .fa:hover{
    color: rgb(234, 245, 84);
}
#footer-1 .fa{
    font-size: 1.5rem;
    color: #fff;
}
#footer-1 .fa:hover{
    color: rgb(234, 245, 84);
}
@media(max-width:992px){
    #footer{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .row-1{
        margin: auto !important;
    }
    #footer .w-75{
        width: 100% !important;
    }
}
@media(max-width:600px){
    #footer .display-4{
        font-size: 2rem;
    }
    #footer .h1{
        font-size: .8rem;
        font-weight: 500;
    }
}
.bg-dark a{
    color: rgb(148, 146, 144);
}
.bg-dark{
    background-color: #fff !important;
    z-index: 100;
  }
  .bg-dark a{
    font-weight: 700;
    font-size: 1rem;
    font-family: "Open Sans ", sans-serif;
  }
  .name-top a{
      text-decoration: none;
      color: #000;
  }
  .name-top{

    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s  }
  .name-top:hover{
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    cursor: pointer;
  }
  .nav-nv{
      color: #000000 !important;
  }
.nav-nv:hover{
    background-color: #000000;
    color: #fff !important;
}
  * > .fa-times,
*:hover > .fa-angle-down {
  display: none;
 
}
*:hover > .fa-times {
  display: inline-block;
}
.nav-icons .fa{
    color: #000000 !important;
}
.nav-icons .fa:hover{
    color: #5e5b5b !important;
}

.display_1 {
    font-weight: 400;
}
.intro-head h2{
    font-size: 2rem;
    font-weight: 500;
    font-family: "Roboto Slab";
}
.intro-head p{
    font-size: 1.1rem;
    font-weight: 400;
    color: #414040;
    font-family: "Roboto";
}

/* CARD */
.card{
    border: none;
}
.card p{
    font-size: 1rem;
    font-weight: 400;
    color: #414040;
    font-family: "Roboto";
}

.intro-text p:first-child{
    font-size: 1.6rem;
}
.intro-text p:nth-child(2){
    font-style: italic;
    font-size: 1.2rem;
}
.intro-text p:nth-child(3){
    padding-left: 2rem !important;
    border-left: 10px solid #ccc8c8;
}

/* ABOUT PAGE */
.about{
    font-weight: 700 !important;
}
.intro-text{
    /* font-size: 2rem; */
}
.about-text h4{
    font-size: 3rem;
    font-weight: 300;
}
.about-text p{
    font-size: 1rem;
    font-family: "Roboto";
}


/* Article */

/* Notion */
/* Courses */
.courses h1{
    font-weight: 500;
    font-size: 3.5rem;
}
.courses div p{
    font-size: 1.2rem;
}
.notion div p{
    font-size: 1.5rem !important;
    font-family: "Roboto";
}
.notion div{
    padding-bottom: 1rem !important;
}

/* templates */
.template h1{
    font-weight: 700;
    font-size: 3.8rem !important;
}
.template div p{
    font-family: "Roboto";
}
/* MEDIA QUERY */
@media(max-width:992px){
    .display_1 {
        font-size: 3rem !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
    .intro-head h2{
        font-size: 1.8rem;
    }
    .intro-head p{
        font-size: 1.1rem;
    }
    .btn{
        font-size: 1rem;
    }
    .article-head{
        font-size: 3rem;
    }
    .article{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .coursess-text{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    .courses h1{
        font-size: 3rem;
    }
}
@media(max-width:767px){
    header {
      min-height: 500px;
      padding-top: 20%;
      padding-bottom: 5%;
  
  }
  .intro .display-1{
      font-size: 5rem !important;
  }
    .display_1 {
        font-size: 2rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .intro-head h2{
        font-size: 1.8rem;
    }
    .intro-head p{
        font-size: 1.2rem;
    }
    .row .pl-5{
        font-size: 1rem;
        padding-left: 2rem !important;
        padding-right: 2rem !important; 
    }
    .row .pr-5{
        padding-left: 2rem !important;
        padding-right: 2rem !important; 
    }
    .btn{
        font-size: 1.3rem;
    }
    .article-head{
        font-size: 2.5rem;
    }
    .coursess-text{
        padding-left: 0rem !important;
        padding-right: 0rem !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    .courses h1{
        font-size: 2.5rem;
    }
    .template h1{
        font-weight: 500;
        font-size: 3rem !important;
    }
.template-text{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
    
}
@media(max-width:540px){
    header {
      min-height: 500px;
      padding-top: 20%;
      padding-bottom: 5%;
  
  }
  .display-1{
      font-size: 5rem !important;
  }
    .display_1 {
        font-size: 2rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .notion-text{
        font-size: 1.8rem ;
    }
    .article-head{
        font-size: 2rem;
    }
    .template-text{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 0rem !important;
        margin-right: 0rem !important;

    }
}

